@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg_Primary_color: #FFF;
    --bg_Secondary_color: #F5F5F3;
    --main_text_color: #262626;
    --secondary_text_color: #767676;
    --DM__Sans: "DM Sans", sans-serif,;
}


@layer base {

    *{

        @apply m-0 p-0 outline-none box-border;

    }
    
    
    a {

         @apply no-underline inline-block;

    }

    ul,li,ol {
        @apply list-none;
    }
    
    img {
        @apply align-middle;

    }
}

@layer components {
    .menu_items {
        font-size: 16px;
        font-family: var(--DM__Sans);
         font-weight: 400;
        color: val(--secondary_text_color);
        
    }

    .border{
        border-bottom: 1px solid black;
    }

}

    .slick-dots ul .slick-active div  {
        border-right: 4px solid #000 !important;
        width: 36px;
        padding: 20px 0;
        border-right: 4px solid #fff;
    }

    .black-overly {
        background-color: rgb(0, 0, 0, 0.7) !important;
    }


@layer components {
    input,
    select {
      --tw-ring-shadow: none !important;
    }
  
    .input[type="checkbox"]:checked {
      background-image: none !important;
      color: var(--secondary_font_color);
      border: 3px solid #e9e9e9;
    }

}